<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
   <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css" />
    <link href="_lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="_lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EXConverter.styles.css" />
    <link rel="stylesheet" href="Fonts/_fonts.css" />
    <link rel="stylesheet" href="EXConverter.WebUI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/pakia.js"></script>
    <script src="/js/_combo.js"></script>
   <script src="/js/_Csv.js"></script>

</body>

</html>
